<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.mapper.CodeforcesMapper">
    <select id="contestList" resultType="com.hao.pojo.CfContest">
        select id, contest_id, contest_name, begin_time, length, create_time, update_time
        from cf_contest
        <where>
            <if test="contestId != null">
                contest_id like concat('%', #{contestId}, '%')
            </if>
            <if test="contestName != null">
                contest_name like concat('%', #{contestName}, '%')
            </if>
            <if test="beginTime">
                begin_time like concat('%', #{beginTime}, '%')
            </if>
        </where>
        order by begin_time desc
    </select>
    <select id="problemList" resultType="com.hao.pojo.CfProblem">
        select id, contest_id, problem_id, problem_name, problem_rate, tag, url, create_time, update_time
        from cf_problem
        <where>
            <if test="contestId != null">
                contest_id like concat('%', #{contestId}, '%')
            </if>
            <if test="problemId != null">
                problem_id like concat('%', #{problemId}, '%')
            </if>
            <if test="problemName != null">
                problem_name like concat('%', #{problemName}, '%')
            </if>
            <if test="problemRate != null">
                problem_rate like concat('%', #{problemRate}, '%')
            </if>
            <if test="tag != null">
                tag like concat('%', #{tag}, '%')
            </if>
        </where>
        order by contest_id desc
    </select>
</mapper>