<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.mapper.StuMapper">
    <select id="list" resultType="com.hao.pojo.Stu">
        select id, stu_no, password, stu_name, class_name, gender, school, stu_score, create_time, update_time
        from stu
        <where>
            <if test="stuNo != null">
                stu_no like concat('%', #{stuNo}, '%')
            </if>
            <if test="stuName != null">
                and stu_name like concat('%', #{stuName}, '%')
            </if>
            <if test="className != null">
                and class_name like concat('%', #{className}, '%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="school != null">
                and school like concat('%', #{school}, '%')
            </if>
            <if test="stuScore != null">
                and stu_score like concat('%', #{stuScore}, '%')
            </if>
        </where>
        order by stu_score desc
    </select>

    <delete id="deleteByIds">
        delete
        from stu
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update stu
        <set>
            <if test="stuNo != null">
                stu_no = #{stuNo},
            </if>
            <if test="stuName != null">
                stu_name = #{stuName},
            </if>
            <if test="className != null">
                class_name = #{className},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="school != null">
                school = #{school},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>